body {                               /* Making sure the bg is the color I want and displays how I want it*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.container {                      /* The rules for the making of the container to hold my image "selfportrait.png" */
    display: flex;
    align-items: center;
    max-width: 80%;
    position: relative;
}

.image1 {                       /* resizing the image for easier viewing */
    max-width: 40%;
    height: auto;
    margin-right: 20px;
}

.header-text {                      /* Custom font and color for the header and line 26 to 30 are the same but a different font for the description*/
    font-family: "Danfo", serif;
    color: blanchedalmond;
}

.text {
    font-family: "Arbutus", serif;
    font-weight: 400;
    font-style: normal;
}

.text-column {              /* hard adjusting all the rules for the text box because I can't be bothered to be smart about it now (bad choice) */
    flex: 1;
    padding: 231px;
    padding-left: 248px;
    background-color: rgb(102, 58, 32);
    border-radius: 0px;
    position: relative;
    z-index: -1;
    margin-left: -200px;
    padding-left: 200px;
}