body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

.gallery-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    /* Adjust the spacing between gallery items */
}

.image1 {
    max-width: 40%;
    height: auto;
    margin-right: 20px;
}

.header-text {
    font-family: "Danfo", serif;
    color: blanchedalmond;
}

.text {
    font-family: "Arbutus", serif;
    font-weight: 400;
    font-style: normal;
}

.text-column {
    flex: 1;
    padding: 218px;
    padding-left: 248px;
    background-color: rgb(102, 58, 32);
    border-radius: 0px;
    position: relative;
    z-index: -1;
    margin-left: -200px;
    padding-left: 200px;
}
.text-column2 {
    flex: 1;
    padding: 336px;
    padding-left: 248px;
    background-color: rgb(102, 58, 32);
    border-radius: 0px;
    position: relative;
    z-index: -1;
    margin-left: -200px;
    padding-left: 200px;
}