body {                              /* Making sure the bg is the color I want and displays how I want it*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.gallery {                          /* positioning and size for the gallery */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
}

.gallery-item {                     /* positioning and size for the gallery items */
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.image1 {                           /* resizing the image for easier viewing */
    max-width: 40%;
    height: auto;
    margin-right: 20px;
}

.header-text {                      /* Custom font and color for the header and line 32 to 36 are the same but a different font for the description*/
    font-family: "Danfo", serif;
    color: blanchedalmond;
}

.text {
    font-family: "Arbutus", serif;
    font-weight: 400;
    font-style: normal;
}

.text-column {                       /* rules for the first text column for zaff */
    flex: 1;
    padding: 218px;
    padding-left: 248px;
    background-color: rgb(102, 58, 32);
    border-radius: 0px;
    position: relative;
    z-index: -1;
    margin-left: -200px;
    padding-left: 200px;
}
.text-column2 {                     /* rules for the first text column for M16A1 (the reason for having two is because I am lazy) */
    flex: 1;
    padding: 336px;
    padding-left: 248px;
    background-color: rgb(102, 58, 32);
    border-radius: 0px;
    position: relative;
    z-index: -1;
    margin-left: -200px;
    padding-left: 200px;
}